<div layout-gt-xs="row">
    <panel-widget flex title="Google Analytics Sheet" class="fixed-height-widget">
        <download-csv topic="adsensead"></download-csv>
    </panel-widget>
    <panel-widget flex title="RevContent Boosts Sheet" class="fixed-height-widget">
        <download-csv topic="revContentBoost"></download-csv>
    </panel-widget>
    <panel-widget flex title="RevContent Widgets Sheet" class="fixed-height-widget">
        <download-csv topic="revContentWidget"></download-csv>
    </panel-widget>
</div>
<div layout-gt-xs="row">
    <panel-widget flex title="Discrepancy Sheet" class="fixed-height-widget">
        <download-csv topic="discrepancy"></download-csv>
    </panel-widget>
    <panel-widget flex title="Adex Sheet" class="fixed-height-widget" template="app/views/partials/comingSoon.html">
    </panel-widget>
    <panel-widget flex title="Creteo Sheet" class="fixed-height-widget" template="app/views/partials/comingSoon.html">
    </panel-widget>
</div>
<div layout-gt-xs="row">
    <panel-widget flex title="MGID Sheet" class="fixed-height-widget" template="app/views/partials/comingSoon.html">
    </panel-widget>
    <panel-widget flex title="Facebook Sheet" class="fixed-height-widget" template="app/views/partials/comingSoon.html">
    </panel-widget>
    <panel-widget flex title="Outbrain Sheet" class="fixed-height-widget" template="app/views/partials/comingSoon.html">
    </panel-widget>
</div>