<div layout-gt-md="row">
  <panel-widget flex title="Total Profit" template="app/views/partials/profit.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Daily Profit" template="app/views/partials/dailyProfit.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Device Profit" template="app/views/partials/deviceProfit.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Top Campaigns" template="app/views/partials/topCampaigns.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Bottom Campaigns" template="app/views/partials/bottomCampaigns.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Search Campaign" template="app/views/partials/search.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Top Campaigns Performance" template="app/views/partials/performance.html"></panel-widget>
  <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget>
</div>
