<div class="timeFrame" ng-controller="TimeFrameController as vm">
    <md-content  class="md-padding" layout-gt-sm="row" layout-align="space-around center">
        <span layout-xs="row">
            <span>From</span>
            <md-datepicker ng-model="vm.startDate" md-placeholder="Enter date"></md-datepicker>
        </span>
        <span layout-xs="row">
            <span>To</span>
            <md-datepicker ng-model="vm.endDate" md-placeholder="Enter date"></md-datepicker>
        </span>
        <md-button class="md-primary" ng-click="vm.updateData()">
            Update Data
        </md-button>
    </md-content>
</div>